/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap');

/* UTILITIES */
body{
    font-family: 'Poppins', sans-serif;
}
P{
    font-family: 'Roboto', sans-serif;
}

/* SLIDER SECTION */
.slider-section{
    margin-top: 50px;
}
.slider-btn{
    background-color: #fff;
    padding: 10px 28px;
    font-weight: 500;
    color: royalblue;
    border: none;
    border-radius: 8px;
}

/* OUR PACKAGE SECTION  */
.package{
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 5%);
    border-radius: 30px;
}
.card-button a{
    background: #FDF4FA;
    font-size: .9rem;
    padding: 10px 25px;
}




/* @media screen and (min-width: 280px) and (max-width:568px) {
    .container{
        width:100%
    }
    .slider-content{
        text-align: center;
    }
    .slider-content h1 {
      font-size: .9rem;

    }
    .slider-content p {
      font-size: .5rem;
    }
  } */